@model OpenLibrary.Web.Data.Entities.DocumentEntity
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<br />
<h4>Name of the document: @Model.Title</h4>
<a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> Back to Documents</a>
@{
    var c = 0;
    foreach (var item in Model.Reviews)
    {
        if (item.User.Email == User.Identity.Name && item.Document == Model)
        {
            c = 1;
        }
    }
    if (c == 0 && User.IsInRole("User"))
    {
        <a asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add a review</a>
    }
    if (c == 1)
    {
        <b>You have already comment this document</b>
    }
}
<div class="row">

    <div class="col-md-12">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews</h3>
            </div>
            <div class="panel-body">

                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Rating
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Favorite
                            </th>
                            <th>
                                <center>
                                    Options
                                </center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Reviews)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    @if (item.Favorite == true)
                                    {
                                        <p>
                                            Liked it
                                        </p>
                                    }
                                    @if (item.Favorite == false)
                                    {
                                        <p>
                                            Did not think
                                        </p>
                                    }

                                </td>
                                <td>
                                    @if (item.User.Email == User.Identity.Name && item.Document == Model && User.IsInRole("User"))
                                    {
                                        <center>
                                            <a asp-action="EditReview" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </center>
                                    }
                                    @if ((User.Identity.IsAuthenticated && User.IsInRole("BookAdmin")))
                                    {
                                        <center>
                                            <button style="margin:5px" data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                           </center>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialog" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();//this is for ID
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {//this is for Class
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {//this is for ID
                window.location.href = '/Documents/DeleteReview/' + item_to_delete;
            });
        });
    </script>
}